crt0.lst
crt0.rel
crt0.sym
esxdos.lst
esxdos.rel
esxdos.sym
nxi.asm
nxi.lst
nxi.rel
nxi.sym
std.lst
std.rel
std.sym
.vscode/tasks.json
crt0.ihx
crt0.noi
crt0.lk
crt0.map
nxiload.dot
cspect_win.dat
cspect.log
